#Visual Studio files
*.opendb
*.db
*.sln
*.idb
*.exe
*.tlog
*.obj
*.log
*.ilk
*.suo
*.user
*.pro
*.svg
*.pri
#Debug-Release Directories

musicology/Debug/
musicology/musicology.vcxproj.filters
musicology/musicology.vcxproj
musicology/rsc/100.png
frontEnd
rules
musicologyOld/
build-musicology-Desktop_Qt_5_9_2_MSVC2015_64bit-Debug/
build-musicology-Desktop_Qt_5_9_2_MSVC2015_64bit-Release/
build-musicology-Desktop_Qt_5_9_2_MSVC2015_32bit-Debug/
musicology/rsc/graphics